body {
    font-family: Arial, Helvetica, sans-serif;
}
.heading-wrapper {
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.location {
    margin: 10px;
}
.click-me {
    height: 250px;
    width: 164px;
}
#gameHeader {
    display: flex;
    justify-content: center;
}
#gameBody {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#notifications {
    display: block;
    float: left;
    margin: 50px;
}
#notification-container {
    float: left;
}
.nav-settings {
    float: right;
}
.shop-container {
    float: left;
    margin: 50px;
}
.shop-object {
    margin: 10px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.shop-object > h2 {
    margin: 5px;
}