body {
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {display: flex;}
.justify-content-center {justify-content: center;}
.flex-direction-column {flex-direction: column;}
.heading-wrapper {
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.location {
    margin: 10px;
}
.click-me {
    height: 250px;
    width: 164px;
    text-align: center;
    user-select: none;
}
#gameHeader {
    display: flex;
    justify-content: center;
}
#gameBody {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#notifications-container {
    display: inline;
    float: left;
    position: absolute;
    margin-left: 50px;
    line-height: 1.5em;
    width: 30%;
    user-select: none;
}
.nav-settings {
    float: right;
}
.shop-container {
    float: left;
    margin: 50px;
}
.shop-object {
    margin: 10px;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}
.shop-object:hover {
    background-color: #e0e0e0;
}
.shop-object > h2 {
    float: left;
    margin: 5px;
}
.shop-object > .description {
    clear: both;
}
.shop-object > [id$="Amount"] {
    font-size: 1.5em;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}
.shop-object [id$="Price"] {
    font-size: 0.7em;
    margin-left: 10px;
    display: inline;
}
#mainOcean {
    text-align: center;
}
#pageDeep {
    text-align: center;
}
#pageDeep button {
    margin: 20px;
}
#theDeepOcean {
    text-align: center;
}